@model IEnumerable<Microbe.Models.ProjectInformationModels.ClientProjects>

@{
    ViewData["Title"] = "Client / Projects";
}

<h2>Index</h2>
<br />
<br />
<br />
<br />


<form asp-controller="ClientProjects" asp-action="Index">
    <p>
        Client: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputToScreen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genwiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputToScreen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genwiz)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
