@model Microbe.Models.ReportSections.ReportSections

@{
    ViewData["Title"] = "Delete Report Section";
}

<h2>Delete Report Section</h2>

<h3>Are you sure you want to delete this report section?</h3>
<div>
    <h4>ReportSections</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportDefinitionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDefinitionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReportSectionID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
