@model Microbe.Models.ReportSections.ReportSections

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportSections</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportDefinitionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDefinitionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportSectionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
