@model Microbe.Models.ReportModels.ReportSectionFigures

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportSectionFigures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportSectionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportSectionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionFigureOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionFigureOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FigureType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FigureType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FigureDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FigureDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FigureSuffix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FigureSuffix)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportSectionFigureID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
