@model IEnumerable<Microbe.Models.ProjectInformationModels.LIMS_Client>

@{
    ViewData["Title"] = "Clients";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<br />
<br />
<br />
<br />
@if (SignInManager.IsSignedIn(User))
{

        <h2>Clients</h2>

        <p>
            Client List is maintained in the LIMS system
        </p>
        <form asp-controller="LIMS_Client" asp-action="Index">
            <p>
                Search for Client: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientNotes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.active)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="LIMS_Branches" asp-action="Index" asp-route-id="@item.ClientID">@Html.DisplayFor(modelItem => item.DisplayName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientNotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.active)
                        </td>

                        <td>
                            <!--<a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a>&nbsp;|&nbsp;-->
                            <a asp-action="Details" asp-route-id="@item.ClientID">Details</a>
                            <!--&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.ClientID">Delete</a>-->
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            else
            {

            <h2>Please Login to continue...</h2>
            }
