@model IEnumerable<Microbe.Models.ProjectInformationModels.LIMS_Branches>

@{
    ViewData["Title"] = "Branches";
}

<h2>Branches</h2>

<p>
    <!--<a asp-action="Create">Create New</a>-->New branches are created in LIMS system
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch_Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateOrProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbr)
            </td>
            <td>
                <a asp-controller="LIMS_ProjectClient" asp-action="Index" asp-route-id="@item.BranchID"> @Html.DisplayFor(modelItem => item.Branch_Display)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateOrProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.BranchID">Edit</a>&nbsp;|&nbsp;-->
                <a asp-action="Details" asp-route-id="@item.BranchID">Details</a>
                <!--&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.BranchID">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
