@model Microbe.Models.ProjectInformationModels.ClientProjectReports

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientProjectReports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientProjectsID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientProjectsID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportParametersID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportParametersID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportDefinitionsID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDefinitionsID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.datafile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.datafile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
